<div id="mhm-offcanvass">
  <a [routerLink]="" class="mhm-offcanvass-close js-mhm-offcanvass-close"><i class="icon-cross"></i> </a>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="js-mhm-menu-btn" routerLink="/">Inicio</a>
    </li>
    <li routerLinkActive="active">
      <a class="js-mhm-menu-btn" routerLink="/services">Servicios</a>
    </li>
    <li routerLinkActive="active">
      <a class="js-mhm-menu-btn" routerLink="/about">Sobre mí</a>
    </li>
    <li routerLinkActive="active">
      <a class="js-mhm-menu-btn" routerLink="/contact">Contacto</a>
    </li>
    <!-- <li><a href="prices.html">Tarifas</a></li>
    <li><a href="about.html">Sobre m&iacute;</a></li>
    <li><a href="contact.html">Contacto</a></li> -->
  </ul>
  <h3 class="mhm-lead">S&iacute;gueme</h3>
  <p class="mhm-social-icons">
    <a href="https://www.facebook.com/monicahmphoto/" target="_blank">
      <i class="icon-facebook"></i>
    </a>
    <a href="https://www.instagram.com/monicahm.photo/" target="_blank">
      <i class="icon-instagram"></i>
    </a>
  </p>
</div>