<app-header></app-header>
<div id="mhm-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Sobre m&iacute;</h2>
        <div class="mhm-spacer mhm-spacer-sm"></div>
        <p>
          <img
            src="assets/images/bio.jpg"
            alt="bio"
            class="img-rounded img-responsive"
          />
        </p>
        <div class="mhm-spacer mhm-spacer-sm"></div>
        <p class="text-justify">
          Hola! Soy Mónica, vivo en Barcelona y me dedico a la fotografía desde
          2016.
        </p>
        <p class="text-justify">
          Siempre me ha gustado el mundo de la imagen, ya que estudié y trabajé
          algunos años como patronista de moda. Pero la fotografía tiene una
          magia especial, así que decidí dar un giro en mi camino.
        </p>
        <p class="text-justify">
          Empecé fotografiando a mis gatos y ahora que soy mamá supongo que os
          imaginaréis quién es el que acapara la cámara.
        </p>
        <p class="text-justify">
          Mi marido (un hombre con muuuucha paciencia) se aventuró a acompañarme
          en este proyecto y es el que se encarga de la parte videográfica.
        </p>
        <p class="text-justify">
          Mi objetivo es seguir mejorando y aprendiendo, así que espero que os
          guste mi trabajo y poder plasmar vuestros momentos más importantes con
          mi cámara.
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
