<header id="mhm-header" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a [routerLink]="" class="mhm-menu-btn js-mhm-menu-btn">
          Menu <i class="icon-menu"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a class="navbar-brand" routerLink="/">
          M&oacute;nica H. Moraga
          <br /><br />
          <span class="navbar-brand-sub">Fotograf&iacute;a</span>
        </a>
      </div>
    </div>
  </div>
</header>
