<app-header></app-header>
<div id="mhm-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Servicios</h2>
        <div class="mhm-spacer mhm-spacer-sm"></div>
        <p>
          Nos encargamos de realizar sesiones de fotos de diferentes tipos:
          individuales, con tu mascota, niños, parejas, familias... Pregúntanos
          y cuéntanos tu idea!
          <br />
          También trabajamos en cumples y eventos y realizamos tanto las
          fotografías como el vídeo.
        </p>
        <p>
          El precio de cada sesión o evento es personalizado, pues tenemos en
          cuenta el tiempo de trabajo realizado ese día, el desplazamiento y el
          trabajo de edición.
        </p>
        <p>
          No dudes en ponerte en contacto con nosotros, estaremos encantados de
          capturar todos tus momentos!
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
