<app-header></app-header>
<div id="mhm-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Contacto</h2>
        <div class="mhm-spacer mhm-spacer-sm"></div>
        <p class="text-center">
          Gracias por contactar, su mensaje ser&aacute; respondido con la mayor
          brevedad posible
        </p>
        <p class="text-center">
          En unos instantes será redireccionado a la página principal...<br />
          En caso contrario, haga click <a [routerLink]="['/']">aqu&iacute;</a>
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
