.mhm-cat {
  color: #444;
  font-family: "Courgette", arial, sans-serif;
  font-size: 1.3em;
  padding: 0.5em;
  text-decoration: none !important;
}
.list-inline {
  margin-bottom: 0px;
}
.list-inline > li {
  background-color: transparent;
  border: none;
}

hr {
  margin-top: 0px;
}
