<footer id="mhm-footer">
    <div class="container">
      <div class="row row-padded">
        <div class="col-md-12 text-center">
          <p class="mhm-social-icons">
            <a href="https://www.facebook.com/monicahmphoto/" target="_blank">
              <i class="icon-facebook"></i>
            </a>
            <a href="https://www.instagram.com/monicahm.photo/" target="_blank">
              <i class="icon-instagram"></i>
            </a>
          </p>
          <p><small>&copy; M&oacute;nica H. Moraga Photography. All Rights Reserved.</small></p>
        </div>
      </div>
    </div>
  </footer>
